.col{
    float: left;
    padding: 5px;
    margin-top: 6px;
}
.col-10{
    @extend .col;
    width: 10%;
}
.col-30{
    @extend .col;
    width: 30%;   
}
.col-70{
    @extend .col;
    width: 70%;   
}
.col-90{
    @extend .col;
    width: 90%;
}